parameters:
	ignoreErrors:
		-
			message: "#^Method Parli\\\\JsonLogger\\\\JsonLogger\\:\\:log\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/JsonLogger.php

